In [29]:
import pandas as pd
import numpy as np

data = pd.read_csv("SeoulBikeData.csv")

data.head()

,Date,Rented Bike Count,Hour,Temperature,Humidity,Wind speed,Visibility,Dew point temperature,Solar Radiation,Rainfall,Snowfall,Seasons,Holiday,Functioning Day
0,01/12/2017,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
1,01/12/2017,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,01/12/2017,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,01/12/2017,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,01/12/2017,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes

In [30]:
data_copy = data.copy()

vals1, data_copy['Seasons'] = np.unique(data_copy['Seasons'].values, return_inverse=True)
vals2, data_copy['Holiday'] = np.unique(data_copy['Holiday'].values, return_inverse=True)
vals3, data_copy['Functioning Day'] = np.unique(data_copy['Functioning Day'].values, return_inverse=True)

data_copy.head()

,Date,Rented Bike Count,Hour,Temperature,Humidity,Wind speed,Visibility,Dew point temperature,Solar Radiation,Rainfall,Snowfall,Seasons,Holiday,Functioning Day
0,01/12/2017,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,3,1,1
1,01/12/2017,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,3,1,1
2,01/12/2017,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,3,1,1
3,01/12/2017,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,3,1,1
4,01/12/2017,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,3,1,1

In [36]:
data_copy['Month'] = 0
data_copy['Day'] = 0
data_copy['Year'] = 0


for row, index in data_copy.iterrows():
    data_copy.at[row, "Month"] = data_copy.at[row, "Date"][:2]
    data_copy.at[row, "Day"] = data_copy.at[row, "Date"][3:5]
    data_copy.at[row, "Year"] = data_copy.at[row, "Date"][6:]

data_copy['Month'] = data_copy["Month"].astype(int)
data_copy['Day'] = data_copy["Day"].astype(int)
data_copy['Year'] = data_copy["Year"].astype(int)

data_format = data_copy.iloc[:, 1:]
data_format.head(25)

/var/folders/f7/j2r3g_s95sb03lcsq3j145m40000gn/T/ipykernel_1287/1587876120.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '01' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_copy.at[row, "Month"] = data_copy.at[row, "Date"][:2]
/var/folders/f7/j2r3g_s95sb03lcsq3j145m40000gn/T/ipykernel_1287/1587876120.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '12' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_copy.at[row, "Day"] = data_copy.at[row, "Date"][3:5]
/var/folders/f7/j2r3g_s95sb03lcsq3j145m40000gn/T/ipykernel_1287/1587876120.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '2017' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data_copy.at[row, "Year"] = data_copy.at[row, "Date"][6:]

,Rented Bike Count,Hour,Temperature,Humidity,Wind speed,Visibility,Dew point temperature,Solar Radiation,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Month,Day,Year
0,254,0,-5.2,37,2.2,2000,-17.6,0.00,0.0,0.0,3,1,1,1,12,2017
1,204,1,-5.5,38,0.8,2000,-17.6,0.00,0.0,0.0,3,1,1,1,12,2017
2,173,2,-6.0,39,1.0,2000,-17.7,0.00,0.0,0.0,3,1,1,1,12,2017
3,107,3,-6.2,40,0.9,2000,-17.6,0.00,0.0,0.0,3,1,1,1,12,2017
4,78,4,-6.0,36,2.3,2000,-18.6,0.00,0.0,0.0,3,1,1,1,12,2017
5,100,5,-6.4,37,1.5,2000,-18.7,0.00,0.0,0.0,3,1,1,1,12,2017
6,181,6,-6.6,35,1.3,2000,-19.5,0.00,0.0,0.0,3,1,1,1,12,2017
7,460,7,-7.4,38,0.9,2000,-19.3,0.00,0.0,0.0,3,1,1,1,12,2017
8,930,8,-7.6,37,1.1,2000,-19.8,0.01,0.0,0.0,3,1,1,1,12,2017
9,490,9,-6.5,27,0.5,1928,-22.4,0.23,0.0,0.0,3,1,1,1,12,2017
10,339,10,-3.5,24,1.2,1996,-21.2,0.65,0.0,0.0,3,1,1,1,12,2017
11,360,11,-0.5,21,1.3,1936,-20.2,0.94,0.0,0.0,3,1,1,1,12,2017
12,449,12,1.7,23,1.4,2000,-17.2,1.11,0.0,0.0,3,1,1,1,12,2017
13,451,13,2.4,25,1.6,2000,-15.6,1.16,0.0,0.0,3,1,1,1,12,2017
14,447,14,3.0,26,2.0,2000,-14.6,1.01,0.0,0.0,3,1,1,1,12,2017
15,463,15,2.1,36,3.2,2000,-11.4,0.54,0.0,0.0,3,1,1,1,12,2017
16,484,16,1.2,54,4.2,793,-7.0,0.24,0.0,0.0,3,1,1,1,12,2017
17,555,17,0.8,58,1.6,2000,-6.5,0.08,0.0,0.0,3,1,1,1,12,2017
18,862,18,0.6,66,1.4,2000,-5.0,0.00,0.0,0.0,3,1,1,1,12,2017
19,600,19,0.0,77,1.7,2000,-3.5,0.00,0.0,0.0,3,1,1,1,12,2017
20,426,20,-0.3,79,1.5,1913,-3.5,0.00,0.0,0.0,3,1,1,1,12,2017
21,405,21,-0.8,81,0.8,1687,-3.6,0.00,0.0,0.0,3,1,1,1,12,2017
22,398,22,-0.9,83,1.5,1380,-3.4,0.00,0.0,0.0,3,1,1,1,12,2017
23,323,23,-1.3,84,1.0,1265,-3.6,0.00,0.0,0.0,3,1,1,1,12,2017
24,328,0,-1.8,87,1.1,994,-3.6,0.00,0.0,0.0,3,1,1,2,12,2017